@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "LatoBlack";
  src: url("../fonts/LatoBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBlack.woff") format("woff"), url("../fonts/LatoBlack.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
	font-family: "LatoBold";
  src: url("../fonts/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold.woff") format("woff"), url("../fonts/LatoBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
	font-family: "LatoSemibold";
  src: url("../fonts/LatoSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoSemibold.woff") format("woff"), url("../fonts/LatoSemibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
	font-family: "LatoHeavy";
  src: url("../fonts/LatoHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoHeavy.woff") format("woff"), url("../fonts/LatoHeavy.ttf") format("truetype");
  font-weight: 900;
}

html,
body {
	overflow-x: hidden;
}

p, h1, h2, h3, h4, form, ul {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #434343;
	font-family: 'Lato';
}

section {
	line-height: 0;
}

.btn {
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Latobold";
	min-height: 44px;
	padding: 13px 45px;
	font-size: 14px;
	line-height: 1;
	-webkit-border-radius: 23px;
	border-radius: 23px;
	text-decoration: none;
	text-align: center;
	color: #434343;
	margin: 0 15px;
	border: 2px solid transparent;
	cursor: pointer;
	outline: none !important;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.gray-btn {
	background: #434343;
	color: #fff;
}

.gray-btn:hover {
	border: 2px solid #434343;
	color: #434343;
	background: transparent;
}

input[type="number"], input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
	font-size: 16px;
	color: #434343;
	font-family: "LatoBold";
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="text"] {
	border: none;
	outline: none !important;
}

.rent-negotiation {
	position: relative;
}

.rent-negotiation img {
	width: 100%;
	max-height: 500px;
	min-height: 320px;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.rent-negotiation__title {
	position: absolute;
	left: 50px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff;
}

@media (max-width: 767px) {
	.rent-negotiation__title {
		left: 15px;
	}
}

.rent-negotiation-title {
	display: block;
	font-size: 42px;
	line-height: 44px;
	font-weight: 900;
}

@media (max-width: 767px) {
	.rent-negotiation-title {
		font-size: 36px;
		line-height: 38px;
	}
}

.formselect-radio {
	position: relative;
	z-index: 1;
}

.formselect-radio__value {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.formselect-radio__list {
	position: absolute;
	z-index: 1;
	display: none;
	top: -webkit-calc(100% - 2px);
	top: calc(100% - 2px);
	left: 0;
	width: 100%;
	max-height: 25vh;
	overflow: auto;
	margin: 0;
	padding: 8px 0px;
	background-color: #fff;
}

.formselect-radio__item {
	width: 100%;
	list-style: none;
}

.formselect-radio__item:hover, .formselect-radio__item:focus {
	background-color: #e8e8e8;
}

.formselect-radio__item input[type="radio"] {
	display: none;
}

.formselect-radio__item label {
	display: block;
	width: 100%;
	margin: 0;
	padding: 8px 10px;
	min-height: 19px;
	line-height: 19px;
	font-weight: 600;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.formselect-radio.open {
	z-index: 15;
}

.formselect-radio.open .formselect-radio__list {
	display: block;
}

.form-wraper {
	position: relative;
	z-index: 1;
}

.form-wraper__label {
	display: inline-block;
	margin-bottom: 18px;
	font-size: 12px;
	line-height: 15px;
	color: #434343;
	cursor: pointer;
}

.form-wraper__button, .form-wraper__calendar {
	position: absolute;
	z-index: 2;
	top: 35px;
	right: 0px;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	outline: none !important;
	border: none;
	cursor: pointer;
}

.form-wraper__calendar {
	background-color: #d5e0fb;
}

.form-wraper__button {
	background-color: transparent;
}

.form-wraper__button::before {
	content: '';
	position: absolute;
	z-index: 3;
	display: block;
	width: 7px;
	height: 7px;
	top: 8px;
	left: 10px;
	border-bottom: 3px solid #434343;
	border-left: 3px solid #434343;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.form-box {
	display: block;
	background-color: transparent;
	border-bottom: 2px solid #434343;
	padding-bottom: 4px;
	outline: none !important;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #434343;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.select-negotiation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 50px 20px;
	background-color: #d5e0fb;
}

.select-negotiation__select {
	display: block;
	width: 240px;
	margin-right: 60px;
}

.select-negotiation__select:last-child {
	margin-right: 0;
}

@media (max-width: 1000px) {
	.select-negotiation {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.select-negotiation__select {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}

	.select-negotiation__select:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 767px) {
	.select-negotiation {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.select {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	min-width: 240px;
	padding-bottom: 4px;
	border-bottom: 2px solid #434343;
	background-color: transparent;
	cursor: pointer;
}

.select:first-child {
	margin-right: 34px;
}

.select__list {
	position: absolute;
	top: -webkit-calc(100% + 2px);
	top: calc(100% + 2px);
	left: 0;
	display: none;
	width: 100%;
	background-color: #fff;
}

.select__item {
	display: block;
	margin: 0;
	cursor: pointer;
	list-style: none;
}

.select__item:hover, .select__item:focus {
	background-color: #e8e8e8;
}

.select__item label {
	display: inline-block;
	padding: 8px 10px;
	font-size: 15px;
	line-height: 17px;
	font-weight: 600;
	width: -webkit-calc(100% - 10px);
	width: calc(100% - 10px);
}

.meeting-rooms {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
}

.meeting-rooms__left {
	width: 50%;
	padding: 90px 50px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff8da;
}

.meeting-rooms__title {
	margin-bottom: 55px;
}

.meeting-rooms__card {
	display: block;
	margin-bottom: 50px;
}

.meeting-rooms__card:last-child {
	margin-bottom: 0;
}

.meeting-rooms__right {
	width: 50%;
	padding: 90px 50px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.meeting-rooms__hint {
	display: block;
	font-size: 16px;
	line-height: 24px;
}

.meeting-rooms__right-card {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
}

@media (max-width: 1000px) {
	.meeting-rooms__left, .meeting-rooms__right {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 767px) {
	.meeting-rooms {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.meeting-rooms__right, .meeting-rooms__left {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	.meeting-rooms__right-card {
		position: relative;
	}
}

.meeting-rooms-card {
	width: 100%;
}

.meeting-rooms-card__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.meeting-rooms-card__img-block {
	position: relative;
	display: block;
	width: 310px;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.meeting-rooms-card__img-block:hover {
	text-decoration: none;
}

.meeting-rooms-card__img-block:hover .meeting-rooms-card__img-label {
	background-color: #fff;
	color: #434343;
}

.meeting-rooms-card__img-block img {
	width: 100%;
	height: 100%;
	min-height: 230px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.meeting-rooms-card__img-label {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	padding: 12px 20px 13px;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #434343;
	color: #fff;
}

.meeting-rooms-card__info {
	display: block;
	width: 390px;
	padding: 15px 30px 20px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.meeting-rooms-card__name {
	display: block;
	padding-bottom: 16px;
	margin-bottom: 15px;
	border-bottom: 2px solid #434343;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
}

.meeting-rooms-card__desc {
	display: block;
	margin-bottom: 80px;
	font-size: 16px;
	line-height: 24px;
}

.meeting-rooms-card__price-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.meeting-rooms-card__price-list:last-child {
	margin-bottom: 0;
}

.meeting-rooms-card__price-list span {
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
}

.meeting-rooms-card__variant {
	width: 56%;
}

.meeting-rooms-card__timeline {
	position: relative;
}

@media (max-width: 1000px) {
	.meeting-rooms-card__top {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.meeting-rooms-card__img-block {
		width: 100%;
	}

	.meeting-rooms-card__info {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
}

.timeline {
	display: block;
	width: 100%;
	max-width: 700px;
	overflow-x: scroll;
}

.timeline__labels {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.timeline__label {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 60px;
	height: 30px;
	padding: 0 10px;
	background-color: #fff;
	border: solid 1px #979797;
	border-bottom: none;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.timeline__label:nth-child(even) {
	border-left: none;
	border-right: none;
}

.timeline__label:last-child {
	border-right: solid 1px #979797;
}

.timeline__sequence {
	position: absolute;
	z-index: 1;
	bottom: 0;
	display: block;
	width: 60px;
	height: 50px;
	overflow: hidden;
	background-color: #5ad085;
	cursor: pointer;
}

.timeline__sequence-handle-start, .timeline__sequence-handle-end {
	position: absolute;
	z-index: 2;
	top: 0;
	display: block;
	width: 10px;
	height: 100%;
	cursor: ew-resize;
}

.timeline__sequence-handle-start::before, .timeline__sequence-handle-start::after, .timeline__sequence-handle-end::before, .timeline__sequence-handle-end::after {
	content: '';
	position: absolute;
	z-index: 3;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
	width: 1px;
	height: 8px;
	background-color: #fff;
}

.timeline__sequence-handle-start::before, .timeline__sequence-handle-end::before {
	left: 3px;
}

.timeline__sequence-handle-start::after, .timeline__sequence-handle-end::after {
	right: 3px;
}

.timeline__sequence-handle-start {
	left: 0;
}

.timeline__sequence-handle-end {
	right: 0;
}

.timeline__halves {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.timeline__half {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 60px;
	height: 50px;
	border: solid 1px #979797;
	background-color: #f3f3f3;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	border-top: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.timeline__half:hover {
	background-color: rgba(90, 208, 133, 0.5);
}

.timeline__half:nth-child(even) {
	border-left: none;
	border-right: none;
}

.timeline__half:last-child {
	border-right: solid 1px #979797;
}

.timeline__half_hold {
	background: -webkit-repeating-linear-gradient(45deg, #b4b4b4, #b4b4b4 2%, #f3f3f3 2%, #f3f3f3 5%);
	background: -o-repeating-linear-gradient(45deg, #b4b4b4, #b4b4b4 2%, #f3f3f3 2%, #f3f3f3 5%);
	background: repeating-linear-gradient(45deg, #b4b4b4, #b4b4b4 2%, #f3f3f3 2%, #f3f3f3 5%);
	cursor: not-allowed;
}

.right-card {
	display: block;
	padding: 40px 50px 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f3f3f3;
}

.right-card__title {
	display: block;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	margin-bottom: 26px;
}

.right-card__block {
	display: block;
	padding-bottom: 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #434343;
}

.right-card__block:last-child {
	margin-bottom: 30px;
}

.right-card__field {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.right-card__field:last-child {
	margin-bottom: 0;
}

.right-card__field span {
	display: inline-block;
	min-width: 165px;
	font-size: 16px;
	line-height: 24px;
	color: #434343;
}

.right-card__field span:first-child {
	max-width: 400px;
}

.right-card__field span:last-child {
	font-weight: bold;
}

.right-card__to-pay {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
}

.right-card__to-pay span {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
}

.right-card__to-pay span:first-child {
	margin-right: 16px;
}

.right-card__to-pay span:last-child {
	font-weight: bold;
}

@media (max-width: 1000px) {
	.right-card {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.meeting-rooms-form {
	display: block;
	width: 640px;
	padding: 40px 50px;
	background-color: #ffe9b8;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.meeting-rooms-form__title {
	display: block;
	margin-bottom: 26px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
}

.meeting-rooms-form__desc {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 32px;
}

.meeting-rooms-form__settings-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 66px;
}

.meeting-rooms-form__settings {
	display: block;
	width: 240px;
}

.meeting-rooms-form__settings:first-child {
	margin-right: 20px;
}

@media (max-width: 767px) {
	.meeting-rooms-form {
		width: 100%;
		padding: 25px 30px;
	}

	.meeting-rooms-form__settings-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 36px;
	}

	.meeting-rooms-form__settings:first-child {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}

.form-settings__label {
	display: inline-block;
	width: 100%;
	margin-bottom: 18px;
	font-size: 12px;
	line-height: 15px;
	cursor: pointer;
}

.form-settings__select {
	position: relative;
}

.form-settings__input-count {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.form-settings__count-plus {
	margin-right: 10px;
}

.form-settings__count-minus {
	margin-left: 10px;
}

.form-settings__time {
	text-align: left;
}

.form-settings__hour {
	text-align: center;
	max-width: 188px;
}

.form-settings__btn-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.form-settings__btn {
	min-width: 240px;
	height: 44px;
	margin: 0;
}

.count-plus-minus {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border: none;
	outline: none !important;
	background-color: transparent;
	cursor: pointer;
}

.form-settings-input {
	display: inline-block;
	width: 100%;
	padding-bottom: 3px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	outline: none !important;
	border-bottom: 2px solid #434343;
}

@media (max-width: 767px) {
	.form-settings__btn-block {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.form-settings__btn:first-child {
		margin-bottom: 20px;
	}
}

.meeting-rooms-form-popup {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	-webkit-transition: opacity 3s ease;
	-o-transition: opacity 3s ease;
	transition: opacity 3s ease;
}

.meeting-rooms-form-popup.display {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.meeting-rooms-form-popup.visible {
	opacity: 1;
}

.meeting-rooms-form-popup__bg {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
}

.meeting-rooms-form-popup__wrap {
	position: relative;
}

.meeting-rooms-form-popup__close {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1;
	outline: none !important;
	border: none;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border: solid 4px #434343;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
}

.meeting-rooms-form-popup__close::before, .meeting-rooms-form-popup__close::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 12px;
	height: 2px;
	background-color: #434343;
}

.meeting-rooms-form-popup__close::before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.meeting-rooms-form-popup__close::after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.meeting-rooms-form-popup__close:hover::before, .meeting-rooms-form-popup__close:hover::after {
	height: 3px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.meeting-rooms-form-popup__close:hover::before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
	-ms-transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
	transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
}

.meeting-rooms-form-popup__close:hover::after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
	-ms-transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
	transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
}

@media (max-width: 767px) {
	.meeting-rooms-form-popup__close {
		right: 2px;
		top: 20px;
	}
}

.ui-widget.ui-widget-content {
	padding: 25px 40px;
	background-color: #fff;
}

@media (max-width: 767px) {
	.ui-widget.ui-widget-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.datepicker {
	width: 100%;
	height: 20px;
	padding: 0;
	background-color: transparent;
	font-family: 'Lato';
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #434343;
}

.datepicker::-webkit-input-placeholder {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #434343;
}

.ui-widget-header {
	padding: 0 !important;
	margin-bottom: 14px;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #434343;
}

.ui-corner-all {
	border: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: transparent;
}

.ui-widget-header .ui-icon {
	background-image: none !important;
}

.ui-datepicker .ui-datepicker-title {
	font-family: 'Lato';
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	top: -4px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-next:hover,
  .ui-datepicker .ui-datepicker-prev:hover {
	background-color: transparent;
}

.ui-datepicker .ui-datepicker-next::before,
  .ui-datepicker .ui-datepicker-prev::before {
	content: '';
	position: absolute;
	top: 10px;
	z-index: 3;
	display: block;
	width: 6px;
	height: 6px;
	border-bottom: 3px solid #434343;
	border-left: 3px solid #434343;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 3px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 3px;
}

.ui-datepicker .ui-datepicker-next {
	right: -25px;
}

.ui-datepicker .ui-datepicker-next::before {
	left: 9px;
	-webkit-transform: translate(-50%, -50%) rotate(-135deg);
	-ms-transform: translate(-50%, -50%) rotate(-135deg);
	transform: translate(-50%, -50%) rotate(-135deg);
}

.ui-datepicker .ui-datepicker-prev {
	left: -25px;
}

.ui-datepicker .ui-datepicker-prev::before {
	left: 11px;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 767px) {
	.ui-datepicker .ui-datepicker-next {
		right: -10px;
	}

	.ui-datepicker .ui-datepicker-prev {
		left: -10px;
	}
}

.ui-datepicker {
	width: 256px;
	margin: 0;
	padding: 0;
}

.ui-datepicker table {
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

.ui-datepicker th,
.ui-datepicker td,
.ui-datepicker-week-end {
	font-family: 'Lato';
	font-size: 16px;
	line-height: 19px;
	width: 32px;
	height: 32px;
	border-collapse: collapse;
	padding: 2px;
	border: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.ui-datepicker th a,
  .ui-datepicker td a,
  .ui-datepicker-week-end a {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	width: 32px;
	height: 32px;
	outline: none !important;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.ui-datepicker th .ui-state-default,
  .ui-datepicker td .ui-state-default,
  .ui-datepicker-week-end .ui-state-default {
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	font-weight: 600;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

.ui-datepicker th {
	opacity: 0.5;
}

.ui-datepicker th span {
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: none !important;
	padding: 0;
	background-color: #fff;
	color: #434343;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.ui-widget-content .ui-state-active,
.ui-state-default .ui-priority-secondary,
.ui-state-default {
	background-color: #434343;
	color: #fff;
	opacity: 1;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	background-color: #434343;
	color: #fff;
	opacity: 0.5;
}

.ui-widget-content .ui-state-active {
	background-color: #434343;
	color: #fff;
	opacity: 1;
}
